{% extends 'base.html' %}

{% load staticfiles %}


{% block body_block %}
<div class="page-header">
    <h1>Game</h1>
</div>
    <div class="row placeholders">
            <h4>You are: {{ Player }}, Your game id is: {{ GameID }}. <br> You have a hand:
            {% for card in hand %}
                    <h5>{{ card }}</h5>
            {% endfor %}
            <br></h4>
            <h5> List of users: </h5>
            {% for Player in users %}
                    <h5>{{ Player.displayName }}</h5>
            {% endfor %}
    </div>
{% endblock %}