{% extends 'base.html' %}

{% load staticfiles %}


{% block body_block %}
<div class="page-header">
    <h1>Game Lobby</h1>
</div>

    <div class="row placeholders">
        {% if Name %}
            <div class="container">
                <div class="row">
                    <div class="col-md-4 placeholder col-md-offset-1">
                        <table class="table table-bordered">
                            <caption> Players in the Lobby: </caption>
                            <tbody id = "users">
                                {% for user in users %}
                                    <tr>
                                    {%if user == Player%}
                                        <td class = "info" >{{ user.displayName }}</td>
                                    {% else %}
                                        <td>{{ user.displayName }}</td>
                                    {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 placeholder">
                        <table class="table table-bordered">
                            <caption> The more the merrier: </caption>
                            <tbody><tr>
                            <td> Link for your friends: </td>
                            <td class = "info" >http://gofish2015.pythonanywhere.com/lobby/{{GameID}}/ </td>
                            </tr></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 placeholder">
                        <h3> Select additional rules to play with: </h3>
                        <FORM action="{% url 'game' GameID %}">
                            <div class="form-group">
                                <div class="checkbox">
                                    <INPUT TYPE=CHECKBOX NAME="rule1" disabled>Players give just one card when they're asked<BR>
                                </div><div class="checkbox">
                                    <INPUT TYPE=CHECKBOX NAME="rule2" disabled>A player whose call is unsuccessful and draws the card being asked for gets another turn.<BR>
                                </div><div class="checkbox">
                                    <INPUT TYPE=CHECKBOX NAME="rule3" disabled>Players form and lay down pairs.<BR>
                                </div><div class="checkbox">
                                    <INPUT TYPE=CHECKBOX NAME="rule4" disabled>A player who runs out of cards must wait until the game is over and cannot gain any more cards or books.<BR>
                                </div><div class="checkbox">
                                    <INPUT TYPE=CHECKBOX NAME="rule5" disabled>Jokers can be used to create a book by asking another player if they have any jokers in their hand. Two jokers form one book.<BR>
                                </div><div class="checkbox">
                                    <INPUT TYPE=CHECKBOX NAME="rule6" disabled>The winner is the player at the end with the most books. Even if players before them have run out of cards.<BR>
                                </div><div class="checkbox">
                                    <INPUT TYPE=CHECKBOX NAME="rule7" disabled>If the other players got all their matches and one player has a card left while no more go-fish cards to draw, the player with the remaining card loses the game.<P>
                                </div>
                            </div>
                            <div id="creator">

                            </div>
                        </FORM>
                        {% csrf_token %}
                        <div id="response" game-id="{{ GameID }}" url = "{% url 'ready' %}" users = "{% for user in users %}{{ user.displayName }},{% endfor %}"></div>
                        <script>
                        refresh();
                        </script>
                    </div>
                </div>
            </div>

        {% else %}
            <form role="form" id = "Name" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-default"> Submit </button>
            </form>
        {% endif %}
    </div>
{% endblock %}